@import "../App.scss";


.rules {
  text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF01EE 0px 0px 20px, #FF01EE 0px 0px 30px, #FF01EE 0px 0px 40px, #FF01EE 0px 0px 50px, #FF01EE 0px 0px 75px;
  width: 20%;
  // font-weight: 600;
  margin-top: 10rem;
  text-align: justify;
  color: white;
  h3 {
    color: white;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
  }
}

